html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-size: 100%;
  font: inherit;
}

@font-face {
  font-family: authentic;
  src: url(fonts/AUTHENTICSans-90.otf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: authentic;
  src: url(fonts/AUTHENTICSans-130.otf);
  font-weight: bold;
  font-style: normal;
}

body {
  background-color: #b0a595;
  color: #262f2e;
  font-family: authentic;
  font-weight: normal;
  font-size: 26px;
  margin: 30px;
}

h1 {
  font-size: 26px;
}

a {
  color: #262f2e;
  text-decoration: none;
}

a:hover {
  color: #e94f29;
  border-bottom: none;
}

p {
  line-height: 1.4;
  margin-bottom: 15px;
}

b {
  font-weight: bold;
}

#main-container {
  margin-top: 40px;
}

.grid-container {
  display: grid;
  grid-template-columns: 12% 25% 40% 15%;
  grid-gap: 20px;
  margin-bottom: 20px;
  margin-right: 15px;
}

.content {
  position: relative;
  display: none;
  grid-column-start: 3;
  grid-column-end: 5;
}

.content a {
  border-bottom: 3px solid #262f2e;
}

.content a:hover {
  color: #262f2e;
  border-bottom: 3px solid #e94f29;
}

.circle {
  font-size: 16px;
  font-weight: bold;
  width: 80px;
  text-transform: uppercase;
  padding: 6px 5px 2px 5px;
  border-radius: 15px;
  border: 2px solid #262f2e;
  text-align: center;
}

.links {
  grid-column-start: 4;
}

#cursor {
  z-index: 1000;
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 10px;
  background-color: #e94f29;
  transition-duration: 300ms;
  transition-timing-function: ease-out;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 768px) {
  body {
    margin: 15px;
    font-size: 16px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 32% 38% 25%;
    grid-gap: 15px;
    margin-bottom: 20px;
    margin-right: 15px;
  }

  h1 {
    font-size: 16px;
  }

  .bullet {
    display: none;
  }

  .grid-container {
    margin-right: 30px;
  }

  .content a {
    border-bottom: 2px solid #262f2e;
  }

  .content a:hover {
    border-bottom: 2px solid #e94f29;
  }

  .content {
    grid-column-start: 1;
    grid-column-end: 5;
  }

  .links {
    grid-column-start: 3;
  }

  #cursor {
    display: none;
  }
}
